# Only for Docker Deployment

BOT_TOKEN=6272942112:AAF9Y6U0B2ZyQ2hdsQ9D_ETT8VtlhzXiDO4 # Get it from @botfather

API_ID=19234756

API_HASH=0eefc9672b4eb29e31dd7ed568c25c9a

SESSION_STRING=BQCStBK4k0xioLTKHLWrBEfdJRszJaR9m-pPCYOtI7OsuFmnAypsQDz8NzFtxcGo3PIJV8xewNW8mwofVeddoNpVrvyUmVPS4TkYRRsDxZTXBeUy7Yp_sz4BDZ_gX9orziBjTedXgEBc1_vE4V1Ewse2P1ZJQkuuE77_w8yrBjkgKkrJtt-rrGgQK4nmHzUN3BKagqj000YP9z3EJwdwpfBuc-g4La9CKwdss6EEs-WI_UUdG0jA9gyhpNhsqv941naF3uK3Rvlm8LympsxrDosbmCsmnEXh0y6v_ociNakj0XrohqPYRLQ7mxifeCj-bz5OKzz-cxilagoNGibtsNYUAAAAAVwHkmsA # Check Readme to generate sessions

USERBOT_PREFIX=userbot_prefix

SUDO_USERS_ID=5838967403 # Sudo users have full access to everythin, don't trust anyone

LOG_GROUP_ID=-1001816641523

GBAN_LOG_GROUP_ID=-1001816641523

FMUTE_LOG_GROUP_ID=-1001816641523

MESSAGE_DUMP_CHAT=-1001816641523

WELCOME_DELAY_KICK_SEC=300 # Edit if u want

MONGO_URL=mongodb+srv://minhquang24071996:2407@coihaycoc.1an4oky.mongodb.net/?retryWrites=true&w=majority

ARQ_API_URL=https://arq.hamker.in # Leave it like this

ARQ_API_KEY=LCZFSR-XCJSNJ-JVHHXC-UUVLWE-ARQ # Get it from @ARQRobot

LOG_MENTIONS=0 # Make it 1 if you want to enable it

RSS_DELAY=300 # In seconds

PM_PERMIT=0 # fill 0 to disable it
